@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Mona-Sans';
    src:
            url('/fonts/Mona-Sans.woff2') format('woff2 supports variations'),
            url('/fonts/Mona-Sans.woff2') format('woff2-variations');
    font-weight: 400 900;
    font-stretch: 125% 125%;
}

*::-webkit-scrollbar {
    @apply w-0;
}

body, html {
    @apply
    h-full w-full
    overflow-x-hidden
    text-textPrimary
    font-mona
    tracking-wider
    bg-primary 
    scroll-smooth
    antialiased;
}

p, span, h1, h2, h3, h4, h5, h6 {
    @apply
    pointer-events-none;
}

#root {
    @apply h-full w-full;
}