$bg-url: "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAACPSURBVHgB7dFBCgIxDEDR1COMx3MjWBjPJHbhAR3BhW6E2N7id/gPQrb5pKzrNVu7x7IcY1bb9ozSd/aYuLVHzOpyPkXpn8jX+xMzy983DrEThtAYQmMIjSE0htAYQmMIjSE0htAYQmMIjSE0htAYQmMIjSE0htAYQmMIjSE0htAYQrObkCFrrTn2rDPu/wNEoUe7yFL+7QAAAABJRU5ErkJggg==";
$bg-width: 50px;
$bg-height: 50px;

@-webkit-keyframes bg-scrolling-reverse {
  100% { background-position: $bg-width $bg-height; }
}
@-moz-keyframes    bg-scrolling-reverse {
  100% { background-position: $bg-width $bg-height; }
}
@-o-keyframes      bg-scrolling-reverse {
  100% { background-position: $bg-width $bg-height; }
}
@keyframes         bg-scrolling-reverse {
  100% { background-position: $bg-width $bg-height; }
}

@-webkit-keyframes bg-scrolling {
  0% { background-position: $bg-width $bg-height; }
}
@-moz-keyframes    bg-scrolling {
  0% { background-position: $bg-width $bg-height; }
}
@-o-keyframes      bg-scrolling {
  0% { background-position: $bg-width $bg-height; }
}
@keyframes         bg-scrolling {
  0% { background-position: $bg-width $bg-height; }
}

#infinite-grids {
  background: url($bg-url) repeat 0 0;

  -webkit-animation: bg-scrolling-reverse 3s infinite; /* Safari 4+ */
  -moz-animation:    bg-scrolling-reverse 3s infinite; /* Fx 5+ */
  -o-animation:      bg-scrolling-reverse 3s infinite; /* Opera 12+ */
  animation:         bg-scrolling-reverse 3s infinite; /* IE 10+ */
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function:    linear;
  -o-animation-timing-function:      linear;
  animation-timing-function:         linear;

}
